/* font-family: 'Open Sans', sans-serif; */
/*font-family: 'Monoton', cursive;*/
html {
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
}

/* Header Section */

header {
  height: 3rem;
  background-color:white;
}

.header {
  display:flex;
  justify-content:space-between;
  margin-right:2rem;
  margin-left:2rem;
  height:3rem;
  align-items:center;
}

.navigation a {
  text-decoration:none;
  font-size:1.1rem;
  font-weight:bold;
}


.Explore a{
  color:#399bd1;
  margin-right:1.5rem;
}

.Explore a:hover{
  color:#337ab7;
  margin-right:1.5rem;
}


.Startaproject a{
  color:#4A4A4A;
  margin-right:1.5rem;
}

.Startaproject a:hover{
  color:black;
}

.Aboutus a {
  color:#4A4A4A;
}

.Aboutus a:hover {
  color:black;
}

.mobilenavigation{
  display:none;
}

.mobilelogo{
  display:none;
}


/* MAIN SECTION */

/* Temperary image while slideshow is getting created */
.imagescroll{
  background-image: url("https://github.com/jwashi01/jumpstart/blob/master/resources/images/jumbotron-bike.jpg?raw=true");
  background-color:gray;
  background-size:cover;
  height:45rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:0rem;
  padding-bottom:0rem;
}



/* SLIDESHOW */
/*Slideshow being worked on*/

/*
.jumpstartslideshow:nth-child(1) {
  background-image: url("https://github.com/jwashi01/jumpstart/blob/master/resources/images/jumbotron-bike.jpg?raw=true");
  background-color:gray;
  background-size:cover;
  height:40rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:0rem;
  padding-bottom:0rem;
}

.jumpstartslideshow:nth-child(2) {
  background-image: url("https://github.com/jwashi01/jumpstart/blob/master/resources/images/jumbotron-beer.jpg?raw=true");
  background-size:cover;
  background-color:gray;
  background-size:cover;
  height:40rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:0rem;
  padding-bottom:0rem;
}

.jumpstartslideshow:nth-child(3) {
  background-image: url("https://github.com/jwashi01/jumpstart/blob/master/resources/images/jumbotron-flowers.jpg?raw=true");
  background-color:purple;
  background-size:cover;
  height:40rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:0rem;
  padding-bottom:0rem;
}

.jumpstartslideshow:nth-child(4) {
  background-image: url("https://github.com/jwashi01/jumpstart/blob/master/resources/images/jumbotron-duffel.jpg?raw=true");
  background-color:green;
  background-size:cover;
  height:40rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:0rem;
  padding-bottom:0rem;
} */

.Tagline {
  font-family: 'Monoton', cursive;
  font-size:7.1rem;
  color:white;
  margin-bottom:0rem;
  padding-bottom:0rem;
  opacity:0.8rem;
  text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Taglinemessage{
  color:white;
  width:70%;
  font-size:1.5rem;
  padding-bottom:2.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight:lighter;
  text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.JumpIn{
  background-color:#399bd1;
  border-radius:0.6rem;
  border: 1px solid #399bd1;
  box-shadow:0 0 3px rgba(0,0,0,0.5);
  text-align:center;
  padding:1.3rem 2rem;
  margin-bottom:5.2rem;
}

.JumpIn:hover{
  background-color:#399bd1;
  box-shadow:0 0 12px rgba(0,0,0,0.9);
}


.JumpInlink{
  text-decoration: none;
  color:white;
  font-size:1.3rem;
}



/* Featured Project Section */

.FeaturedProjectSection {
  margin-left: 2rem;
  margin-right: 2rem;
}

.Featuredproject{
  font-size:1.7rem;
  font-weight:bold;
  color:#399bd1;
  margin-bottom:1.6rem;
  padding-top:2rem;
}

.FeaturedSection{
  display:flex;
}


.Featuredprojectimage{
  width:50%;
  height:20rem;
  overflow:hidden;
  padding-right:2rem;
}



.featuredimage{
  width:100%;
  height:auto;
  opacity:0.6;
  align-items:center;
  overflow:hidden;
}


.aboutfeatureprojectproductcategories{
  width:50%;
  display:flex;
}

.Aboutfeaturedproject{
  width:50%;
  padding-left:1rem;
}

.FeaturedTitle{
  font-size:1.3rem;
  margin:0 auto;
}

.FeaturedAuthor{
  font-size:1rem;
}

.FeaturedSummary{
  font-size:1rem;
}

.ProductCategoriesSection{
  width:50%;
}

.ProductCategories{
  color:#399bd1;
  padding-left:2.5rem;
  margin:0 auto;
}

.Productlist li {
  list-style-type: none;
  line-height:1.4;
  font-size:1rem;
}

/* Projects Section */

.ProjectsSection{
  margin-bottom:5.85rem;
  padding-right:0rem; /*3rem*/
  padding-left:0rem;  /*3rem*/
}

.Projectsheader {
  font-size:1.7rem;
  font-weight:bold;
  color:#399bd1;
  margin-bottom:1.6rem;
  padding-left:2rem;
}

.Projects {
  display:flex;
  justify-content:space-around;
  margin-left:2rem;
  margin-right:2rem;
}

.Project1 {
  width:33%;
  padding-right:1.5rem;
}

.Project1Title{
  font-size:1.3rem;
}

.Project1Author{
  font-size:1rem;
}

.Project1Summary{
  font-size:1rem;
  width:90%;
}


.project1image{
  width:95%;
  height:auto;
  align-items:center;
  overflow:hidden;
}

.Project2 {
  width:33%;
  padding-right:1.5rem;
}

.project2image{
  width:95%;
  height:auto;
  align-items:center;
  overflow:hidden;
}

.Project2Title{
  font-size:1.3rem;
}

.Project2Author{
  font-size:1rem;
}

.Project2Summary{
  font-size:1rem;
  width:90%;
}

.Project3 {
  width:33%;
}

.project3image{
  width:95%;
  height:auto;
  align-items:center;
  overflow:hidden;
}


.Project3Title{
  font-size:1.3rem;
}

.Project3Author{
  font-size:1rem;
}

.Project3Summary{
  font-size:1rem;
  width:90%;
}

/* Footer Section */

footer {
  background-color:#f3f3f3;
  height:25rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.Thinkideas{
  padding-top:5.2rem;
  font-size:2.5rem;
  font-weight:bold;
  margin-bottom:0rem;
  padding-bottom:0rem;
}

.IdeaGenerator{
  width:42rem;
  font-size:1rem;
  padding-bottom:2rem;
}


.LearnMore{
  background-color:#399bd1;
  border-radius:0.6rem;
  border: 1px solid #399bd1;
  box-shadow:0 0 3px rgba(0,0,0,0.5);
  text-align:center;
  padding:1.3rem 2rem;
  margin-bottom:5.2rem;
}

.LearnMore:hover{
  background-color:#399bd1;
  box-shadow:0 0 12px rgba(0,0,0,0.9);
}


.learnmorelink{
  text-decoration: none;
  color:white;
  font-size:1.3rem;
}

@media only screen and (max-width: 1020px){
  .Taglinemessage{
    width:90%;
  }

}

@media only screen and (max-width: 768px){

  .Going {
    display:block;
    margin:0rem;
    padding:0rem;
  }

.Tagline {
  font-size:5rem;
  padding-top:2rem;
  text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Taglinemessage{
  font-size:1.2rem;
  width:60%;
  text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.FeaturedProjectSection {
    padding-right:0rem;
    padding-left:0rem;
  }

  .Featuredproject{
    font-size:1.7rem;
    font-weight:bold;
    color:#399bd1;
    margin-bottom:1.6rem;
    padding-top:2rem;
  }

.FeaturedSection{
    display:flex;
    flex-direction:column;
}

.Featuredprojectimage{
  width:95%;
  height:auto;
  padding-right:0rem;
  padding-left:0rem;
  margin-right:0rem;
  overflow:hidden;
}

.featuredimage{
  width:100%;
  height:auto;
  opacity:0.6;
  /*align-items:center;*/
  overflow:hidden;
}

.aboutfeatureprojectproductcategories{
  width:100%;
  padding-top:2rem;
}

.Aboutfeaturedproject{
  width:50%;
  padding-left:0rem;
}

.ProductCategoriesSection{
  width:50%;
}

.ProjectsSection{
  padding:0;
  margin:0;
}

.Projects {
  display:flex;
  flex-direction:column;
}

.Project1 {
  width:100%;
}

.Project2{
    width:100%;
    padding-top:2rem;
  }

.Project3{
  width:100%;
  padding-top:2rem;
  padding-bottom:2rem;
}

.IdeaGenerator{
  width:90%;
}

/*Footer*/
.Thinkideas{
  width:90%;
}

}

@media only screen and (max-width: 480px){
.imagescroll{
  background-position:center;
}


 .Tagline{
    font-size: 3rem;
    padding-top: 4rem;
 }

.JumpIn{
  padding: 0.85rem 2rem;
}

.JumpInlink{
  font-size:1rem;
}

 .Going {
   display:block;
   margin:0rem;
   padding:0rem;
 }

  .Taglinemessage{
    font-size:1.2rem;
    width:90%;
  }

  /*Main*/

.FeaturedProjectSection {
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
}

.Featuredproject {
  font-size: 1.5rem;
  font-weight: bold;
  color: #399bd1;
  margin-bottom: 1.6rem;
  padding-top: 2rem;
}

.Featuredprojectimage {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 1rem;
}

.aboutfeatureprojectproductcategories{
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}

.Aboutfeaturedproject {
    width: 100%;
}

.ProductCategoriesSection {
    width: 100%;
}

.FeaturedSummary {
    width: 95%;
}

.ProductCategories{
  padding-left:0rem;
  font-size:1.5rem;
  padding-top:2rem;
}

.Productlist{
  padding-left:0rem;
}

  /*Footer*/

footer {
  height:30rem;
}

.Thinkideas{
  font-size:1.5rem;
  padding-top:6rem;
}

.LearnMore {
  padding: 0.85rem 2rem;
}

.learnmorelink{
  font-size:1rem;
}


}
