/* font-family: 'Open Sans', sans-serif; */
/*font-family: 'Monoton', cursive;*/
html {
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
}

/* Header Section */

header {
  height: 3rem;
  background-color:white;
}

.header {
  display:flex;
  justify-content:space-between;
  margin-right:2rem;
  margin-left:2rem;
  height:3rem;
  align-items:center;
}

.navigation a {
  text-decoration:none;
  font-size:1.1rem;
  font-weight:bold;
}

/*
.navigation .Explore{
  margin-right:1.5rem;
} */

.Explore a{
  color:#399bd1;
  margin-right:1.5rem;
}

.Explore a:hover{
  color:#337ab7;
  margin-right:1.5rem;
}


.Startaproject a{
  color:#4A4A4A;
  margin-right:1.5rem;
}

.Startaproject a:hover{
  color:black;
}

.Aboutus a {
  color:#4A4A4A;
}

.Aboutus a:hover {
  color:black;
}


/*
.navigation .Startaproject{
  margin-right:1.5rem;
}*/

/*
.navigation .Aboutuslink{
  color:#4A4A4A;
}*/


/* Main Section */

/* Temperary image while slideshow is getting created */
.imagescroll{
  background-image: url("https://github.com/jwashi01/jumpstart/blob/master/resources/images/jumbotron-bike.jpg?raw=true");
  background-color:gray;
  background-size:cover;
  height:40rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:0rem;
  padding-bottom:0rem;
}



/* Slideshow */

.jumpstartslidesshowcontainer{

}

/*
.jumpstartslideshow:nth-child(1) {
  background-image: url("https://github.com/jwashi01/jumpstart/blob/master/resources/images/jumbotron-bike.jpg?raw=true");
  background-color:gray;
  background-size:cover;
  height:40rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:0rem;
  padding-bottom:0rem;
}

.jumpstartslideshow:nth-child(2) {
  background-image: url("https://github.com/jwashi01/jumpstart/blob/master/resources/images/jumbotron-beer.jpg?raw=true");
  background-size:cover;
  background-color:gray;
  background-size:cover;
  height:40rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:0rem;
  padding-bottom:0rem;
}

.jumpstartslideshow:nth-child(3) {
  background-image: url("https://github.com/jwashi01/jumpstart/blob/master/resources/images/jumbotron-flowers.jpg?raw=true");
  background-color:purple;
  background-size:cover;
  height:40rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:0rem;
  padding-bottom:0rem;
}

.jumpstartslideshow:nth-child(4) {
  background-image: url("https://github.com/jwashi01/jumpstart/blob/master/resources/images/jumbotron-duffel.jpg?raw=true");
  background-color:green;
  background-size:cover;
  height:40rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:0rem;
  padding-bottom:0rem;
} */

.Tagline {
  font-family: 'Monoton', cursive;
  font-size:7.1rem;
  color:white;
  text-shadow:-1px -1px 0 #000;
  margin-bottom:0rem;
  padding-bottom:0rem;
  opacity:0.8rem;
}

.Taglinemessage{
  width:51.3rem;
  color:white;
  padding-bottom:2.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight:lighter;
}

.JumpIn{
  background-color:#399bd1;
  border-radius:0.6rem;
  border: 1px solid #399bd1;
  box-shadow:0 0 3px rgba(0,0,0,0.5);
  text-align:center;
  padding:1.3rem 2rem;
  margin-bottom:5.2rem;
}

.JumpIn:hover{
  background-color:#399bd1;
  box-shadow:0 0 12px rgba(0,0,0,0.9);
}


.JumpInlink{
  text-decoration: none;
  color:white;
  font-size:1.3rem;
}



/* Featured Project Section */

.FeaturedProjectSection {
  padding-right:3rem;
  padding-left:3rem;
}

.Featuredproject{
  font-size:1.7rem;
  font-weight:bold;
  color:#399bd1;
  margin-bottom:1.6rem;
  padding-left:2rem;
  padding-top:2rem;
}

.FeaturedSection{
  display:flex;
}

/*
.parent{
  width:50%;
  height:20rem;
  padding-right:2rem;
  padding-left:2rem;
  overflow:hidden;
}

.child {
  width:100%;
  height:100%;
  opacity:0.6;
  background-color:blue;
  background-image: url("https://github.com/jwashi01/jumpstart/blob/master/resources/images/featured-project.png?raw=true");
  background-position:center;
  background-size:cover;
  overflow:hidden;
}

.parent:hover .child,
.parent:focus .child {
  transform: scale(1.2);
}

.childtest {
  width:100%;
  height:100%;
} */

.Featuredprojectimage{
  width:50%;
  height:20rem;
  padding-right:2rem;
  padding-left:2rem;
  overflow:hidden;
}

/*
.Featuredprojectimage:hover .featuredimage,
.Featuredprojectimage:focus .featuredimage {
  transform: scale(1.2);
  width:100%;
  height:20rem;
} */

.featuredimage:hover,
.featuredimage:focus {
  transform:scale(1.2);
  overflow:hidden;
}

.featuredimage{
  width:100%;
  height:auto;
  opacity:0.6;
  align-items:center;
  overflow:hidden;
}

/*
.Featuredprojectimage img {
  transition: transform .2s;
}

.Featuredprojectimage:hover img {
  transform: scale(1);
  width:104%;
  height:auto;
  overflow:hidden;
} */


.aboutfeatureprojectproductcategories{
  width:50%;
  display:flex;
}

.Aboutfeaturedproject{
  width:50%;
  padding-left:1rem;
}

.FeaturedTitle{
  font-size:1.3rem;
  margin:0 auto;
}

.FeaturedAuthor{
  font-size:1rem;
}

.FeaturedSummary{
  font-size:1rem;
}

.ProductCategoriesSection{
  width:50%;
}

.ProductCategories{
  color:#399bd1;
  padding-left:2.5rem;
  margin:0 auto;
}

.Productlist li {
  list-style-type: none;
  line-height:1.4;
  font-size:1rem;
}

/* Projects Section */

.ProjectsSection{
  margin-bottom:5.85rem;
  padding-right:3rem;
  padding-left:3rem;
}

.Projectsheader {
  font-size:1.7rem;
  font-weight:bold;
  color:#399bd1;
  margin-bottom:1.6rem;
  padding-left:2rem;
}

.Projects {
  display:flex;
  justify-content:space-around;
  margin-left:2rem;
  margin-right:2rem;
}

.Project1 {
  width:33%;
  padding-right:1.5rem;
}

.Project1Title{
  font-size:1.3rem;
}

.Project1Author{
  font-size:1rem;
}

.Project1Summary{
  font-size:1rem;
}

/*
.Project1imagesection img {
  transition: transform .2s;
}

.Project1imagesection:hover img {
  transform: scale(1);
  width:97%;
  height:auto;
  overflow:hidden;
} */

.project1image{
  width:95%;
  height:auto;
  align-items:center;
  overflow:hidden;
}

.project1image:hover,
.project1image:focus {
  transform:scale(1.1);
  overflow:hidden;
}


.Project2 {
  width:33%;
  padding-right:1.5rem;
}

/*
.Project2imagesection img {
  transition: transform .2s;
}

.Project2imagesection:hover img {
  transform: scale(1);
  width:97%;
  height:auto;
  overflow:hidden;
} */


.project2image{
  width:95%;
  height:auto;
  align-items:center;
  overflow:hidden;
}

.project2image:hover,
.project2image:focus {
  transform: scale(1.1);
  overflow:hidden;
}

.Project2Title{
  font-size:1.3rem;
}

.Project2Author{
  font-size:1rem;
}

.Project2Summary{
  font-size:1rem;
}

.Project3 {
  width:33%;
}

/*
.Project3imagesection img {
  transition: transform .2s;
}

.Project3imagesection:hover img {
  transform: scale(1);
  width:97%;
  height:auto;
  overflow:hidden;
} */

.project3image{
  width:95%;
  height:auto;
  align-items:center;
  overflow:hidden;
}

.project3image:hover,
.project3image:focus {
  transform: scale(1.1);
  overflow:hidden;
}


.Project3Title{
  font-size:1.3rem;
}

.Project3Author{
  font-size:1rem;
}

.Project3Summary{
  font-size:1rem;
}

/* Footer Section */

footer {
  background-color:#f3f3f3;
  height:25rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.Thinkideas{
  padding-top:5.2rem;
  font-size:2.5rem;
  font-weight:bold;
  margin-bottom:0rem;
  padding-bottom:0rem;
}

.IdeaGenerator{
  width:42rem;
  font-size:1rem;
  padding-bottom:2rem;
}


.LearnMore{
  background-color:#399bd1;
  border-radius:0.6rem;
  border: 1px solid #399bd1;
  box-shadow:0 0 3px rgba(0,0,0,0.5);
  text-align:center;
  padding:1.3rem 2rem;
  margin-bottom:5.2rem;
}

.LearnMore:hover{
  background-color:#399bd1;
  box-shadow:0 0 12px rgba(0,0,0,0.9);
}


.learnmorelink{
  text-decoration: none;
  color:white;
  font-size:1.3rem;
}
